*, *:after, *:before {
  box-sizing: border-box;
}

::placeholder {
  color: #949494;
}

::-webkit-input-placeholder {
  color: #949494;
}

::-moz-placeholder {
  color: #949494;
}

:-ms-input-placeholder {
  color: #949494;
}

:-moz-placeholder {
  color: #949494;
}

body, html {
  font-family: Roboto, sans-serif;
}

html {
  overflow-y: auto;
}

p {
  color: #717171;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .5px;
  margin-bottom: 16px;
}

a {
  color: #717171;
  letter-spacing: .5px;
}

.label {
  font-size: 12px;
  font-family: inherit;
}

.input-group {
  display: flex;
  justify-content: space-between;
  & .input {
    flex: 0 0 48%;
  }
}

.large-title {
  font-family: 'YoungSerif-Regular', serif;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}

.small-title {
  font-family: 'YoungSerif-Regular', serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.background-wrapper {
  width: 100%;
  position: relative;
  .black-bg {
    position: absolute;
    top: 0;
    height: 350px;
    width: 100%;
    background-color: #000;
    margin: 0 auto;
    z-index: -1;
    overflow: hidden;
  }
}

.asset-pack-circle {
  display: inline-flex;
  height: 42px;
  width: 42px;
  background-color: #D4D4D4;
  box-sizing: border-box;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  &.selected {
    border: 1.2px solid #000000;
  }
  &.small {
    height: 33px;
    width: 33px;
  }
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
}

.vb-content {
  display: flex !important;
  flex-wrap: wrap;
}

.vb > .vb-dragger {
  z-index: 5;
  width: 20px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden !important;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0, 0, 0, 0);
  transform: rotate3d(0, 0, 0, 0);
  -webkit-transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  transition: background-color 100ms ease-out,
  margin 100ms ease-out,
  height 100ms ease-out;
  background-color: #000;
  width: 20px;
  height: 100%;
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: #000;
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: #000;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: #000;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: #000;
}

.vb-visible .vb-content:after {
  content: "";
  width: 2px;
  display: block;
  height: 100%;
  background: black;
  position: absolute;
  right: 10px;
}

.button-group {
  & button {
    margin: 0 10px;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

/* Slider */
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}
.slick-prev, .slick-next {
  display: none !important;
}