.env
FE/.env
FE/__pycache__
node_modules
.DS_STORE
.idea
scripts/doxity/node_modules
dev-scripts
contracts/.env
yarn.lock
lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/
website/yarn.lock
website/node_modules
website/i18n/*
!website/i18n/en.json
package-lock.json
frontend/scripts/config.json

