.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  height: 33px;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  line-height: 1;
  transition: all .2s;
  border: 1px solid transparent;
  color: #000;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  &:hover {
    opacity: .7;
  }
  &[disabled=disabled], &:disabled {
    opacity: .4;
    padding-top: 0;
    padding-bottom: 0;
    cursor: not-allowed;
    align-items: center;
    &:hover {
      opacity: .4;
    }
  }
}

.primary {
  color: #fff;
  background-color: #F55800;
  border-color: #F55800;
  &:hover {
    opacity: .9;
  }
}

.primary-inverted {
  color: #F55800;
  border-color: #F55800;
  background-color: transparent;
}

.thin-text {
  font-weight: 300;
}

.secondary {
  border-color: black;
}

.tertiary {
  text-decoration: underline;
  font-size: 13px;
}

.inverted {
  color: white;
  &.secondary {
    border-color: white;
  }
}

.tab-active {
  color: #000;
  font-weight: bold;
  background: none;
  border: none;
  font-size: 15px;
  text-decoration: underline;
  padding: 0;
}

.tab-inactive {
  color: #000;
  background: none;
  border: none;
  font-size: 15px;
  padding: 0;
}

.no-border {
  color: #000;
  background: none;
  border: 1px solid transparent;
}

.pagination {
  min-width: auto;
  color: #858585;
  background: none;
  border: 0;
  &.last {
    padding-right: 0;
  }
}
